<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div>
      <ul>
        <li>Instructions: </li>
        <li>eg. Search Cat images</li>
        <li><a href="https://tim-celsius-27452.herokuapp.com/search/api/image/cats">https://tim-celsius-27452.herokuapp.com/search/api/image/cats</a></li>
        <br>
        <li>Pagination</li>
        <li><a href="https://tim-celsius-27452.herokuapp.com/search/api/image/cats?offset=3">https://tim-celsius-27452.herokuapp.com/search/api/image/cats?offset=3</a></li>
        <br>
        <li>recent searches</li>
        <li><a href="https://tim-celsius-27452.herokuapp.com/search/api/latest">https://tim-celsius-27452.herokuapp.com/search/api/latest</a></li>
      </ul>
    </div>
  </body>
</html>
